@model Charcoal.Web.Models.RegisterModel
@{
    ViewBag.Title = "Account Registration";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="well">
        <legend>Register Account</legend>
        <div class="clearfix">
            <div class="row">
                <div class="span4">
                    First Name:
                </div>
                <div class="span4">
                    @Html.TextBoxFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    Last Name:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    Email:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    User Name:
                </div>
                <div class="span4">
                    @Html.TextBoxFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    Password:</div>
                <div class="input">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    Confirm Password:</div>
                <div class="input">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <p>
                <button style="margin-top: 10px; margin-left: 150px" class="btn primary" type="submit">
                    Register</button>
            </p>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
