@model Charcoal.Web.Models.ProjectViewModel
<div class="row" id="projectdetail">
    <div class="span12">
       <div id="projectname"> @Model.Name</div>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span4">
                @Html.ActionLink("Current", "CurrentIteration", "Stories", new { projectId = @Model.Id }, new { @class = "btn success" })
            </div>
            <div class="span4">
                @Html.ActionLink("Backlog", "BackLogStories", "Stories", new { projectId = @Model.Id }, new { @class = "btn" })
            </div>
            <div class="span4">
                @Html.ActionLink("Icebox", "IceboxStories", "Stories", new { projectId = @Model.Id }, new { @class = "btn info" })
            </div>
        </div>
    </div>
    <span class="label">@Model.Description</span>
</div>