@model Charcoal.Web.Models.StoryViewModel
@{

}
<div class="@Model.GetCardStyle()">
    <div>
        <div class="story-details">
            <div class="estimate">@Model.GetEstimate()</div>
            <h3>@Model.GetHeader()</h3>
            <div class="story-text">
                <p>@Model.Story.Title</p>
            </div>
            <div class="card-buttons">
                @{
                    if (Model.AdvanceAction() == "start") {

                    <button class="btn" onclick="StartStory('@Model.FormattedId');return false;">
                        Start Story</button>
                    }

                    if (Model.AdvanceAction() == "finish") {

                    <button class="btn" onclick="FinishStory('@Model.FormattedId');return false;">
                        Finish Story</button>
                        @Html.ActionLink("Add task", "Add", "Task", new { projectId = @Model.Story.ProjectId, storyId = @Model.Story.Id, iterationType=@Model.IterationType }, new { @class = "facebox btn success", rel = @Model.FormattedId })
                    }

                    <button class="btn" onclick="AddComment('@Model.FormattedId');return false;">
                        Add Comment</button>
                    
                }
            </div>
        </div>
    </div>
<!--Comment/Notes section removed-->
</div>
