@using Charcoal.Common.Entities
@using Charcoal.Web.Models
@model Charcoal.Web.Models.ProjectStoryViewModel
@{
    ViewBag.Title = "Current Iteration";
}
@section topAction
{
<div class="top-actions">
    <a href="#" onclick="SignUpForTask(); return false;">Sign Up For Selected</a> 
    <a href="#" onclick="RefreshStories(); return false;">Refresh</a>
</div>
@Html.Partial("StoryNavigationControl", @Model.ProjectId)
}

<p>
    <h2 style="display:inline;margin-right:40px;">Current Iteration</h2>
    @Html.Partial("TaskFilter")
    @Html.Partial("StoryFilter")
</p>

<table class="story-table">
    @foreach (var story in Model.Stories) {
        @Html.Partial("StoryRow", new StoryRowViewModel(story, IterationType.Current))
    }
</table>
