@model Charcoal.Web.Models.TaskViewModel
<div class="task">
    <h3>Add Task:</h3>
    @using (Html.BeginForm("AddTask", "Stories", FormMethod.Post, new { @class = "async-form" })) {
        @Html.ValidationSummary(true) 
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.StoryId, new { name = "storyId" })

        <div>
            <p style="padding-left:10px;width:80%">
                Description:
                @Html.TextAreaFor(model => model.Description, new { @class = "transparent" })
            </p>
            
            <p style="padding-left:10px;width:80%">
                Initials: @Html.TextBox("initials", null, new { @class = "transparent", style="width:auto;" })
            </p>
        </div>
        @Html.HiddenFor(model => model.IterationType)
        <div class="card-buttons">
            <input type="submit" class="btn success" value="Save" />
            <button class="btn danger facebox-cancel">
                Cancel</button>
        </div>
    }
</div>
