@model PivotalExtension.TaskManager.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
}
<h2>
    Log On</h2>
<p>
    Please log on using your <a href="http://pivotaltracker.com">Pivotal Tracker</a>
    credentials.
</p>
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <div class="clearfix">
                <div class="well">
                    @Html.LabelFor(m => m.UserName)
                    <div class="input">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    @Html.LabelFor(m => m.Password)
                    <div class="input">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div style="margin-top: 5px" class="input">
                       <div style="margin-top: 5px"> @Html.LabelFor(m => m.RememberMe)</div>
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </div>
                    <button style="margin-top: 10px" class="btn primary" type="submit">
                        Log On</button>
                </div>
            </div>
        </fieldset>
    </div>
}
