<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.Partial("ContentBundle")
</head>
<body>
    <div class="container-fluid">
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="#">Pivotal Task Manager</a>
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("My Projects", "Index", "Projects")</li>
                        <li>@Html.Partial("_LogOnPartial")</li>
                    </ul>
                    <div class="top-actions">
                        <a href="#" onclick="SignUpForTask(); return false;">Sign Up For Selected</a>
                        <a href="#" onclick="RefreshStories(); return false;">Refresh</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="span24">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer>
            <span class="label success">This Web Application is made available Under the MIT License</span>
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            BindFaceboxLinks(false);
            $.ajaxSetup({
                statusCode: {
                    999: function () {
                        // custom code signaling Redirect the to the login page.
                        location.href = "/Account/LogOn";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //whatever we do here, need to ignore status code 999's
                    }
                }
            });
        });
    </script>
</body>
</html>
