<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.Partial("ContentBundle")
</head>
<body>
    <div class="page">
        <header>
            <nav>
                <div id="menu_wrapper" class="black">
                <ul id="menu">
                    <li id="sitename">Pivotal Task Manager</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("My Projects", "Index", "Projects")</li>
                    <li>@Html.Partial("_LogOnPartial")</li>
                </ul>
                </div>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
