<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.Partial("ContentBundle")
</head>
<body>
    <div class="page">
        <header>
            <nav>
                <div id="menu_wrapper" class="black">
                <ul id="menu">
                    <li id="sitename">Pivotal Task Manager</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("My Projects", "Index", "Projects")</li>
                    <li>@Html.Partial("_LogOnPartial")</li>
                </ul>
                </div>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.facebox.settings.closeImage = '/Content/facebox/closelabel.png';
            $.facebox.settings.loadingImage = '/Content/facebox/loading.gif';
            BindFaceboxLinks(false);
            $.ajaxSetup({
                statusCode: {
                    999: function () {
                        // custom code signaling Redirect the to the login page.
                        location.href = "/Account/LogOn";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //whatever we do here, need to ignore status code 999's
                    }
                }
            });
        });
    </script>
</body>
</html>
