@model PivotalExtension.TaskManager.Models.StoryViewModel
           
<div class="@Model.GetStyle()">
   
    <div class="estimate">@Model.GetEstimate()</div>
    <h3>@Model.GetHeader()</h3>
    <p>@Model.Story.Name</p>
    @{
       if(Model.AdvanceAction() == "start") {
         <button class="btn" onclick="StartStory('@Model.FormattedId');return false;">Start Story</button>
       }

       if (Model.AdvanceAction() == "finish") {
        <button class="btn" onclick="FinishStory('@Model.FormattedId');return false;">Finish Story</button>
        @Html.ActionLink("Add task", "Add", "Task", new { projectId = @Model.Story.ProjectId, storyId = @Model.Story.Id }, new { @class = "facebox btn success", rel=@Model.FormattedId })
       }
    }
</div>
    