@model PivotalExtension.TaskManager.Models.StoryViewModel
           
<div class="@Model.GetStyle()">
   
    <div class="estimate">@Model.GetEstimate()</div>
    <h3>@Model.GetHeader()</h3>
    <p>@Model.Story.Name</p>
    @{
       if(Model.AdvanceAction() == "start") {
         <a href="#" onclick="StartStory('@Model.FormattedId');return false;">Start Story</a>
       }

       if (Model.AdvanceAction() == "finish") {
         <a href="#" onclick="FinishStory('@Model.FormattedId');return false;">Finish Story</a>
         <div><a href="#" onclick="AddTask('@Model.FormattedId'); return false;">Add Task</a></div>
        @Html.ActionLink("Real Add task", "Add", "Task", new { projectId = @Model.Story.ProjectId, storyId = @Model.Story.Id }, new { @class = "facebox", rel=@Model.FormattedId })
       }
    }
</div>
    