@model PivotalExtension.TaskManager.Models.TaskViewModel
@using(Html.BeginForm ("Stories", "AddTask", FormMethod.Post, new { @class = "async-form" })) {
    <a href="#" class="facebox-cancel"><img src="../../Content/facebox/closelabel.png" alt="Cancel" /></a>
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add Task:</legend>
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.StoryId, new { name = "storyId" })
        <p>
            <label>Description:</label>
            @Html.EditorFor(model => model.Description)
        </p>
        <p>
            <label>Initials:</label>
            @Html.TextBox("initials")
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
